.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.channels {
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.btn {
  padding: 15px;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px;
  background: #d9d9d9;
  color: #585454;
  font-weight: 600;
}
/* Center the video container */
.video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* 100% of viewport height */
  background-color: #ededed; /* Background color (optional) */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.video-player {
  margin-top: 10px;
  width: 83%;
  border: 1px solid #818181bb;
}

/* Style the video element */
#videoPlayer {
  max-width: 100%;
  max-height: 100%;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.header {
  padding: 0px 20px;
  text-align: center;
  background-color: #f1eeee;
  color: #2e2e3a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyrights {
  font-size: 13px;
  display: block;
}
.copyrights-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Add your mobile-specific styles here */
  .container {
    flex-direction: column;
  }
  .channels {
    width: 100%;
    padding: 5px;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* 100% of viewport height */
    background-color: #f3f3f8; /* Background color (optional) */
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.4);
  }
  .video-player {
    width: 100%;
    border: 0px solid #333;
  }
  .copyrights {
    display: none;
  }
  .copyrights-mobile {
    display: block;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

